/* about */

.about {
    margin-top: 30px;
    margin-bottom: 40px;
}

.about .ui-block-a {
    text-align: right;
}

.about .ui-block-b {
    text-align: left;
}

.about .icon-app {
    width: 72px;
    height: 72px;
    background: url(/assets/icons/Icon-72@2x.png) left center no-repeat;
    background-size: 72px 72px;
    border-radius: 12px;
    display: inline-block;
    margin: 0 35px 0 0;
}

.about .desc-app {
    height: 72px;
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 36px;
    display: inline-block;
}

.about .title-app {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
}

.about .date-app {
    color: #bbb;
    font-size: 16px;
    line-height: 32px;
}

.about-devby {
    font-size: 80%;
    text-align: center;
    padding: 20px;
}

.about-devby a {
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px dotted #ddd;
    color: #34495e;
}