/* new flatui ui */
.ui-bar-light-gray {
  border: 1px solid #f8f8f8;
  background: #f8f8f8;
  color: #34495e;
  font-weight: bold;
  font-family: Lato, sans-serif;
}
.ui-bar-light-gray .ui-link-inherit {
  color: #3e3e3e;
}
.ui-bar-light-gray a.ui-link {
  color: #7cc4e7;
  font-weight: bold;
}
.ui-bar-light-gray a.ui-link:visited {
  color: #c5c5c5;
}
.ui-bar-light-gray a.ui-link:hover {
  color: #c5c5c5;
}
.ui-bar-light-gray a.ui-link:active {
  color: #c5c5c5;
}
.ui-bar-light-gray input,
.ui-bar-light-gray select,
.ui-bar-light-gray textarea,
.ui-bar-light-gray button {
  font-family: Lato, sans-serif;
}
.ui-body-light-gray,
.ui-overlay-light-gray {
  border: 2px solid #2ecc71;
  color: #34495e;
  background: #fff;
  background-image: none;
}
.ui-body-light-gray {
  font-family: Lato, sans-serif;
}
.ui-body-light-gray input,
.ui-body-light-gray select,
.ui-body-light-gray textarea,
.ui-body-light-gray button {
  font-family: Lato, sans-serif;
}
.ui-body-light-gray .ui-link-inherit {
  color: #333;
}
.ui-body-light-gray .ui-link {
  color: #2ecc71;
  font-weight: bold;
}
.ui-body-light-gray .ui-link:visited,
.ui-body-light-gray .ui-link:hover,
.ui-body-light-gray .ui-link:active {
  color: #55d98d;
}
.ui-body-light-gray.ui-input-text {
  border: 2px solid #eee;
}
.ui-body-light-gray.ui-input-text.ui-focus {
  border: 2px solid #55d98d;
  -webkit-transition: border linear .2s;
  -moz-transition: border linear .2s;
  -o-transition: border linear .2s;
  transition: border linear .2s;
}
.ui-btn-up-light-gray {
  border: 2px solid #f8f8f8;
  background: #f8f8f8;
  font-weight: bold;
  color: #34495e;
}
li.ui-btn-up-light-gray {
  border-top: 1px solid #dfe0e0;
}
li.ui-btn-up-light-gray:first-child {
  border-top: 0px;
}
.ui-btn-up-light-gray .ui-li-desc {
  color: #aaaaaa;
}
.ui-btn-up-light-gray:visited,
.ui-btn-up-light-gray a.ui-link-inherit {
  color: #acacac;
}
.ui-btn-hover-light-gray {
  border: 1px solid #55d98d;
  background: #55d98d;
  font-weight: bold;
  color: #fff;
}
.ui-btn-hover-light-gray:visited,
.ui-btn-hover-light-gray:hover,
.ui-btn-hover-light-gray a.ui-link-inherit {
  color: #acacac;
}
.ui-btn-down-light-gray {
  border: 1px solid #55d98d;
  background: #55d98d;
  font-weight: bold;
  color: #fff;
}
.ui-btn-down-light-gray:visited,
.ui-btn-down-light-gray:hover,
.ui-btn-down-light-gray a.ui-link-inherit {
  color: #fff;
}
.ui-btn-up-light-gray,
.ui-btn-hover-light-gray,
.ui-btn-down-light-gray {
  font-family: Lato, sans-serif;
  text-decoration: none;
}
.ui-bar-light-gray .ui-btn-up-light-gray,
.ui-bar-light-gray .ui-btn-down-light-gray,
.ui-bar-light-gray .ui-btn-hover-light-gray {
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
}
