@import url(fs.css);
@import url(entypo.css);
@import url(jquery.mobile.flatui.css);
@import url(loadmask.css);
@import url(w-ui.css);
@import url(lightgray-ui.css);
@import url(addtohome.css);
@import url(overrides.css);
@import url(news.css);
@import url(newui.css);
@import url(about.css);

.wordchoice div {
    font-size: 100%;
    text-align: center;
    height: 50%;
    padding: 10px;
}