/* news */

@news-padding-sides: 25px;
@news-background-color: #fff;
@news-item-height: 60px;
@news-title-font-size: 15px;
@news-date-font-size: 13px;
@news-content-font-size: 13px;
@news-title-color: #18181A;
@news-date-color: lighten(@news-title-color, 70%);
@news-content-color: lighten(@news-title-color, 30%);
@news-detail-date-font-size: 12px;
@news-detail-title-font-size: 20px;
@news-detail-content-font-size: 17px;

@red: #E74C3C;//#C0392B;
@blue: #2980B9;
@orange: #F39C12;
@yellow: #27AE60;//now is green #F1C40F;

.news-listing-empty {
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

.news-detail p img,
.news-detail span img {
    text-align: center;
}

.news-detail img {
    max-width: 100%;
    margin: 0px auto !important;
}

.news-listing-empty .icon {
    font-size: 280px;
    line-height: 200px;
    text-align: center;
    width: 100%;
    color: #eee;
}

.news-listing-empty .message {
    width: 100%;
    display: block;
    text-align: center;
    font-style: italic;
    color: #ddd;
    font-size: 23px;
}

.news-detail-map-image {
    max-width: 400px;
    width: 100%;
    height: 200px;
    margin: 5px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1px solid darken(@news-background-color, 10%);
}

.news-image-thumb {
    width: 60px;
    height: 60px;
    margin: 1px 20px 0 0;
    border: 1px solid darken(@news-background-color, 10%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    float: left;
}

.news-header-arrow {
    font-size: 26px;
    display: inline-block;
    padding-left: 3px;
}

.pastille {
    display: inline-block;
    font-size: 24px;
    padding-right: 10px;
    opacity: 0.8;
}

// <favorites>
.is-fav {
    opacity: 1;
    color: #fff;
}
// </favorites>

// <category>
.categorylist .list-item {
    font-family: Lato, sans-serif;
}

.categorylist .list-item:last-child {
    border: 0px;
}

.pastille-red {
    color: @red;
}

.pastille-blue {
    color: @blue;
}

.pastille-orange {
    color: @orange;
}

.pastille-yellow {
    color: @yellow;
}
// </category>

.news-item-arrow {
    color: #bbb;
    font-size: 44px;
}

.news-item-favorite {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 13px;
    font-size: 28px;
    line-height: 18px;
    margin-top: -32px;

    color: #bbb;
}

.news-item-color {
    //clear: both;
    width: 10px;
    height: 100%;
    position: absolute;
    left: 0;
    //margin-top: -1px;
    display: inline-block;
    //float: left;
    z-index: 1;
    border-bottom: 1px solid #fff !important;
}

@news-item-color-opacity: .8;

.news-item-red {
    background: @red;
}

.news-item-blue {
    background: @blue;
}

.news-item-orange {
    background: @orange;
}

.news-item-yellow {
    background: @yellow;
}

/* news detail */

.news-detail-back-btn {
    border: 0px !important;
}

.news-detail-back-btn .btn-inner {
    border: 0px !important;
}

.news-detail {
    padding: 0 10px 10px 10px;

    /* avoid x scrolling */
    word-wrap: break-word;
}

.news-detail-date {
    font-size: @news-detail-date-font-size;
    color: #bbb;
}

.news-detail-title {
    font-size: @news-detail-title-font-size;
    color: #000;
    font-weight: 600;
    clear: both;
}

.news-detail-medias {
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    //background-size: cover;
    background-size: contain;
    //border: 1px solid #ccc;
}

.news-detail-image-separator {
    width: 70%;
    margin: 15px auto;
    color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px 0 0 0;
}

.news-detail-content {
    font-size: @news-detail-content-font-size;
    color: #333;
}